<div class="pageContainer">
  <form id='innOgrnForm' action="/result" method="POST" name="formContainer">
    <div class='input'>
      <input type="text" name='inn' placeholder="Введите ИНН">
    </div>
    <div class='input'>
      <input type="text" name='ogrn' placeholder="Введите ОГРН">
    </div>
    <div id="button">
      <button>Отправить</button>
    </div>
  </form>

</div>
