<h1 id="idH1">Проверка клиента на безусловные СТОП-ФАКТОРЫ</h1>

<table class="table">
  <tr id="table-header">
    <th>Вопрос</th>
    <th>Ответ</th>
  </tr>
  {{#each tableData}}
  <tr id="table-body">
    <td id="questions">{{this.question}}</td>
    <td>{{this.answer}}</td>
  </tr>
  {{/each}}
</table>
